<div class="input-group mb-4">
   <input type="text" class="form-control" placeholder="Search plugins..." (ngModelChange)="searchInputChanged($event)" [(ngModel)]="searchQuery"/>
   <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="search()"><i class="fa fa-search"></i></button>
   </span>
</div>


<div *ngIf="currentStatus == Status.OK && plugins.length == 0">
  <p class="bare-message">No results <i class="fa fa-frown-o"></i></p>
</div>

<div *ngIf="currentStatus == Status.ERROR">
    <p class="bare-message">Error getting plugin list <i class="fa fa-frown-o"></i> <button (click)="fetchPlugins()" class="btn btn-primary">Try again</button> </p>
</div>

<div class="plugin-item panel panel-default" *ngFor="let p of plugins">
  <div class="panel-body">

    <div class="plugin-item-line">
      <b><a [routerLink]="['..', 'plugin', p.short_name]">{{ p.name }}</a></b>

      <button class="btn btn-flag pull-right left-right-margin"><i class="fa fa-flag"></i></button>

      <button class="btn btn-primary pull-right" (click)="installPlugin(p)"><i class="fa fa-download"></i>
        Install
      </button>

    </div>

    <div class="plugin-item-line">
      <i *ngIf="p.home_page" class="fa fa-home"></i>
      <a class="home-page" target="_blank" href="{{ p.home_page }}">{{ p.home_page }}</a>
    </div>


    <div class="plugin-item-line">
      <i class="fa fa-github"></i>
      <a class="home-page"
        target="_blank"
        href="https://www.github.com/{{ p.repo_user }}/{{ p.repo_name }}">
        https://www.github.com/{{ p.repo_user }}/{{ p.repo_name }}
      </a>
    </div>

    <div class="plugin-item-line">
      <div class="tag" *ngFor="let c of p.tags"><i class="fa fa-tag"></i> <span>{{ c.short_name }}</span></div>
    </div>

    <div *ngIf="p.description">
      <div class="plugin-item-line" *ngIf="p.shortDescription" (click)="p.shortDescription = false">
        {{ p.description | shortenLongString:maxLengthDescription }}
        <a href="#">Read more</a>
      </div>
      <div class="plugin-item-line" *ngIf="!p.shortDescription">{{ p.description }}</div>
    </div>

    <div *ngIf="!p.description">
      <i>No description.</i>
    </div>

  </div>
</div>


<div *ngIf="currentStatus == Status.PLUGINS_LOADING">
  <p class="bare-message"><i class="fa fa-spinner fa-spin"></i> Loading plugins...</p>
</div>


<button *ngIf="!noMorePlugins && currentStatus != Status.PLUGINS_LOADING" class="btn btn-primary" (click)="fetchPlugins()">Load more</button>



<ng-template #pluginModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fa fa-download"></i> Install plugin</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="pluginModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>In order to download, paste the following URL into MO.</p>

    <input type="text" class="form-control" value='{{ urlService.build(["plugins", currentPluginModal.short_name]) }}' readonly onclick="this.select();"/>

  </div>
</ng-template>
