<form (ngSubmit)="requestPassword()" *ngIf="resetPassMap == null">

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-lock"></i>
    </div>
    <input placeholder="Email"
           autocomplete="off"
           type="email"
           required
           name='email'
           [(ngModel)]="accountEmail"
           class="form-control"/>
  </div>

  <button type="submit" class="btn btn-primary" *ngIf="!loading" [disabled]="accountEmail.length == 0">Request password</button>
  <button type="submit" class="btn btn-primary" *ngIf="loading" disabled>Please wait...</button>
  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>

  <div class="alert alert-danger mt-4" *ngIf="errors">{{ errors }}</div>

</form>


<form (ngSubmit)="changePassword()" *ngIf="resetPassMap != null">

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-at"></i>
    </div>
    <input [value]="resetPassMap.email"
           disabled
           class="form-control"/>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-lock"></i>
    </div>
    <input [(ngModel)]="resetPassMap.pass1"
           type="password"
           name="password"
           placeholder="Password"
           class="form-control"/>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-lock"></i>
    </div>
    <input [(ngModel)]="resetPassMap.pass2"
           type="password"
           name="password-confirmation"
           placeholder="Password confirmation"
           class="form-control"/>
  </div>

  <!--<re-captcha *ngIf="recaptchaKey" (resolved)="resolved($event)" siteKey="{{ recaptchaKey }}"></re-captcha>
-->

  <button type="submit" class="btn btn-primary" *ngIf="!loading">Request password</button>
  <button type="submit" class="btn btn-primary" *ngIf="loading" disabled>Please wait...</button>
  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>

  <div class="alert alert-danger mt-4" *ngIf="errors">{{ errors }}</div>

</form>
