@import './../assets/global_variables.scss';

$container-separation: 20px;
$navbar-link-no-hover: #777777;
$navbar-link-yes-hover: #ff871c;

.container-main {
  background-color: white;
  padding: $container-separation;
  margin-bottom: $container-separation;
  border: 1px solid $main-container-border;
}

.nav-link {
  color: $navbar-link-no-hover !important;
  transition: all 0.5s;

  &:hover {
    color: $navbar-link-yes-hover !important;
  }
}

.toggle-button-custom {
  background-color: $link-not-hover;
  border: 1px solid $main-container-border;
}


.nav-item {
  margin: 5px 20px;
}
