<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success">Bootstrap</div>
      <code>Bootstrap instalado</code>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <div class="dropdown" dropdown>
        <button dropdownToggle class="btn btn-default">Bootstrap funciona?</button>
        <div *dropdownMenu class="dropdown-menu">Si, funciona!</div>
      </div>
    </div>
  </div>
</div>
