<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="assets/mo63x63.png"></a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"
      [collapse]="isCollapsed">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link link-blue" routerLink="/" (click)="isCollapsed = true"><i class="fa fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-red" routerLink="explore" (click)="isCollapsed = true"><i class="fa fa-search"></i> Explore</a>
          </li>


          <!-- Not logged in -->

          <li class="nav-item" *ngIf="!tokenAuthService.userSignedIn()">
            <a class="nav-link link-green" href="javascript:;" (click)="openModal(loginModal)"><i class="fa fa-user-o"></i> Login</a>
          </li>

          <!-- Logged in -->

          <li class="nav-item" *ngIf="tokenAuthService.userSignedIn()">
            <a class="nav-link link-yellow" routerLink="publish" (click)="isCollapsed = true"><i class="fa fa-share-alt"></i> Publish</a>
          </li>

          <li class="nav-item" *ngIf="tokenAuthService.userSignedIn()">
            <a class="nav-link link-green" href="javascript:;" (click)="signOut()"><i class="fa fa-user-o"></i> Account</a>
          </li>

          <li class="nav-item" *ngIf="tokenAuthService.userSignedIn()">
            <a class="nav-link link-grey" href="javascript:;" (click)="signOut()"><i class="fa fa-sign-out"></i> Logout</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <!-- Login/register modal -->
  <ng-template #loginModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left" *ngIf="isLoginMode()">Login</h4>
      <h4 class="modal-title pull-left" *ngIf="isRegisterMode()">Create new account</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <app-login-form (onFormResult)="onLoginFormResult($event)" *ngIf="isLoginMode()"></app-login-form>
      <app-register-form (onFormResult)="onRegisterFormResult($event)" *ngIf="isRegisterMode()"></app-register-form>

      <div class="row">
        <div class="col-md-12">
          <span class="grey-text text-darken-2" *ngIf="isLoginMode()">
            Need an account? <a href="javascript:;" (click)="authMode='register'">Click here to register.</a>
          </span>
          <span class="grey-text text-darken-2" *ngIf="isRegisterMode()">
            Already have an account? <a href="javascript:;" (click)="authMode='login'">Click here to login.</a>
          </span>
        </div>
      </div>

    </div>
  </ng-template>


  <!-- Page Content -->
  <div class="container container-main">
    <router-outlet></router-outlet>
  </div>



  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">MO Plugins - Interaction USACH</p>
    </div>
  </footer>

  <simple-notifications [options]="notificationOptions"></simple-notifications>

</body>
