<form (ngSubmit)="onSignUpSubmit()">

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-user"></i>
    </div>
    <input placeholder="Username"
           autocomplete="off"
           type="text"
           required
           name='username'           
           [(ngModel)]="signUpUser.username"
           class="form-control"/>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-at"></i>
    </div>
    <input placeholder="Your e-mail"
           autocomplete="off"
           type="email"
           required
           name='email'
           [(ngModel)]="signUpUser.email"
           class="form-control"/>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-lock"></i>
    </div>
    <input placeholder="Password"
           autocomplete="off"
           type="password"
           required
           name='password'
           [(ngModel)]="signUpUser.password"
           class="form-control"/>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-addon">
      <i class="fa fa-lock"></i>
    </div>
    <input placeholder="Confirm password"
           autocomplete="off"
           type="password"
           required
           name='password'
           [(ngModel)]="signUpUser.passwordConfirmation"
           class="form-control"/>
  </div>

  <button type="submit" class="btn btn-primary" *ngIf="!loading">Create account</button>
  <button type="submit" class="btn btn-primary" *ngIf="loading" disabled>Please wait...</button>
  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>

  <div class="alert alert-danger mt-4" *ngIf="errors">{{ errors }}</div>

</form>
