@import './global_variables.scss';

body {
  background-color: $background-color;
  padding-top: $top-padding;
}

.header {
  border-bottom: 1px solid $light-grey;
  width: 100%;
  display: block;
  margin-bottom: $nice-bottom-margin;
}


a {
  color: $link-not-hover;
  &:hover, &:focus {
    color: $link-yes-hover;
  }
}


.btn-primary{
  background-color: $link-not-hover;
  border-color: $link-not-hover;
  &:hover, &:focus {
    background-color: $link-yes-hover;
    border-color: $link-yes-hover;
  }
}

.tag {
  display: inline;
  background-color: $light-grey;
  color: $medium-grey;
  border-radius: 5px;
  padding: 5px;
  margin: 3px 5px 3px 0;
  font-size: $small-font;
  display: inline-block;
}

.plugin-item {
  border-bottom: $sweet-border;
  margin: 5px 0;
  margin-bottom: 50px;
  padding: 5px 0;
}

.remove-button{
  background-color: transparent;
  border: 0;
}
