@import './global_variables.scss';

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $background-color;
  padding-top: $top-padding;
}

.header {
  border-bottom: 1px solid $light-grey;
  width: 100%;
  display: block;
  margin-bottom: $nice-bottom-margin;

  h1, h2 {
    margin-bottom: 10px;
  }

}

h1, h2 {
  margin-bottom: 30px;
}


a {
  color: $link-not-hover;
  &:hover, &:focus {
    color: $link-yes-hover;
  }
}

.mo-bar {
  background-color: #ffffff;
  border: 1px solid $main-container-border;
}


.btn-primary{
  background-color: $link-not-hover;
  border-color: $link-not-hover;
  &:hover, &:focus {
    background-color: $link-yes-hover;
    border-color: $link-yes-hover;
  }
}

.btn-flag{
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

  &:hover {
    opacity: 1;
  }
}

.left-right-margin{
  margin: 0 5px;
}




.tag {
  display: inline;
  background-color: $light-grey;
  color: $medium-grey;
  border-radius: 5px;
  padding: 5px;
  margin: 3px 5px 3px 0;
  font-size: $small-font;
  display: inline-block;
}

.plugin-item {
  border-bottom: $sweet-border;
  margin: 5px 0;
  margin-bottom: 50px;
  padding: 5px 0;
}

.remove-button{
  background-color: transparent;
  border: 0;
}
