@import './global_variables.scss';

@media (min-width: $body-width) {
    body {
        padding-top: $top-padding;
    }
}

.header {
  border-bottom: 1px solid $light-grey;
  width: 100%;
  display: block;
  margin-bottom: $nice-bottom-margin;
}


a {
  color: $link-not-hover;
  &:hover, &:focus {
    color: $link-yes-hover;
  }
}


.btn-primary{
  background-color: $link-not-hover;
  &:hover, &:focus {
    background-color: $link-yes-hover;
  }
}
