$mo-logo-background-color: #fffaf3;
$main-container-border: #dfd9d1;

$light-grey: #e6e6e6;
$link-not-hover: #428bca;
$link-yes-hover: #3071a9;
$medium-grey: #404040;
$small-font: 13px;
$sweet-border: 1px solid $light-grey;

$nice-bottom-margin: 15px;
