<div class="header">
  <h1>Multimodal Observer (MO)</h1>
</div>

<div class="row">

  <div class="col-md-6">

    <form (ngSubmit)="onSubmit()">
      <div class="input-group mb-4">
         <input type="text" class="form-control" placeholder="Search plugins..." [(ngModel)]="searchQuery" name="query"/>
         <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
         </span>
      </div>
    </form>

    <h3>Latest plugins</h3>

    <p *ngIf="plugins == null">
      <i class="fa fa-spinner fa-spin"></i>
    </p>

    <p *ngFor="let p of plugins">
      <a [routerLink]="['..', 'plugin', p.short_name]">{{p.name}}</a>
    </p>

    <p *ngIf="plugins != null && plugins.length == 0"><i>No plugins lately...</i></p>

  </div>

  <div class="col-md-6">

    <p>MO project is an open source initiative intended to provide a low-cost solution for researchers and other professionals working with multimodal data. The MO project starts from a modular and scalable system that can aid the research process in the data collection, visualization, and analyses stages.</p>

    <p>MO's architecture is based on plugins developed for different devices and data types. These plugins are integrated in a common environment, which enable users to work with multiple sources easily.</p>

    <p>Through the MO project we invite developers, researchers, and professionals to contribute with ideas and plugins in order to produce an ecosystem of research tools for different purporses.</p>

  </div>

</div>

<div class="header">
  <h2>Interaction</h2>
</div>

<p>INTERACTION is a research and development group devoted to the study, development, application, and evaluation of technology on problems related to information seeking and information retrieval, human-information interaction, and visualization, using disciplinary basis from information science, computer science and engineering.</p>

<p>The INTERACTION research group is part of the Departamento de Ingeniería Informática at Universidad de Santiago de Chile, and it is formed by undergraduate, master, and doctoral students.</p>


<div class="header">
  <h2>Github repository</h2>
</div>

<p>Download MO from its official <a href="https://github.com/rgonzal/mo" target="_blank"><i class="fa fa-github"></i> Github repository</a>.</p>
