<div class="mb-4">

  <div class="header">
    <h1>My account</h1>
  </div>

  <div *ngIf="user == null">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="user != null" class="col-md-12">

    <div class="form-group row">
      <label class="col-md-2 col-form-label"><b>Username</b></label>
      <div class="col-md-10">
        {{ user.nickname }}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label"><b>E-mail</b></label>
      <div class="col-md-10">
        {{ user.uid }}
      </div>
    </div>
    <div class="form-group row">
      <label for="current-password" class="col-md-2 col-form-label"><b>Current password</b></label>
      <div class="col-md-4">
        <input type="password" class="form-control" [(ngModel)]="passChange.old" id="current-password"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="new-password1" class="col-md-2 col-form-label"><b>New password</b></label>
      <div class="col-md-4">
        <input type="password" class="form-control" [(ngModel)]="passChange.new1" id="new-password1"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="new-password2" class="col-md-2 col-form-label"><b>Password confirmation</b></label>
      <div class="col-md-4">
        <input type="password" class="form-control" [(ngModel)]="passChange.new2" id="new-password2"/>
      </div>
    </div>

    <button (click)="changePassword()" class="btn btn-primary" *ngIf="!changingPassword">Change password</button>
    <button (click)="changePassword()" class="btn btn-primary" *ngIf="changingPassword" disabled>Changing password...</button>

  </div>

</div>



<div class="mb-4">

  <div class="header">
    <h2>My plugins</h2>
  </div>

  <div *ngIf="myPlugins == null">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="myPlugins != null && myPlugins.length == 0">

    <p><i>You haven't uploaded any plugins yet.</i></p>

  </div>

  <div *ngFor="let p of myPlugins" class="mb-4">

      <div class="mb-1">
        <a [routerLink]="['..', 'plugin', p.short_name]">
          {{ p.name }}
        </a>



      </div>
      <div class="plugin-item-line">

        <!-- The following code doesn't have white space because it does impact the page presentation -->

        <plugin-status [plugin]="p"></plugin-status><div class="tag" *ngFor="let c of p.tags">
          <i class="fa fa-tag"></i>
          <span>{{ c.short_name }}</span>
        </div><div class="tag" *ngIf="p.tags.length == 0"><i class="fa fa-tag"></i> <span><i>Untagged</i></span></div>

      </div>
  </div>

</div>
