<div class="mb-4">

  <div class="header">
    <h1>My account</h1>
  </div>

  <div *ngIf="user == null">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div class="row">

    <div *ngIf="user != null" class="col-md-6 mb-4">


      <form>
        <div class="form-group row">
          <label class="col-md-4 col-form-label"><b>E-mail</b></label>
          <div class="col-md-8">
            {{ user.uid }}
          </div>
        </div>

        <div class="form-group row" *ngIf="!changingUsername">
          <label class="col-md-4 col-form-label"><b>Username</b></label>
          <div class="col-md-8">
            <button class="btn btn-primary" (click)="changingUsername = true; usernameInput = user.nickname;"><i class="fa fa-edit"></i></button>
            {{ user.nickname }}
          </div>
        </div>


        <div class="form-group row" *ngIf="changingUsername">
          <label for="username-input" class="col-md-4 col-form-label"><b>Username</b></label>
          <div class="col-md-8">
            <input class="form-control" id="username-input" name="username-input" [(ngModel)]="usernameInput" [disabled]="changingUsernameLoading"/>
          </div>
        </div>


        <div *ngIf="changingUsername && !changingUsernameLoading">
          <button type="submit" class="btn btn-primary" (click)="changeUsername()" [disabled]="usernameInput?.length == 0">Update username</button>
          <button class="btn btn-secondary" (click)="changingUsername = false"><i class="fa fa-times"></i></button>
        </div>

        <div *ngIf="changingUsername && changingUsernameLoading">
          <button class="btn btn-primary" disabled>Updating username...</button>
        </div>

      </form>

    </div>



    <!-- Edit password -->



    <div *ngIf="user != null" class="col-md-6">

      <form>

        <div class="form-group row">
          <label for="current-password" class="col-md-4 col-form-label"><b>Current password</b></label>
          <div class="col-md-8">
            <input type="password" class="form-control" [(ngModel)]="passChange.old" id="current-password" name="current-password"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="new-password1" class="col-md-4 col-form-label"><b>New password</b></label>
          <div class="col-md-8">
            <input type="password" class="form-control" [(ngModel)]="passChange.new1" id="new-password1" name="new-password1"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="new-password2" class="col-md-4 col-form-label"><b>Password confirmation</b></label>
          <div class="col-md-8">
            <input type="password" class="form-control" [(ngModel)]="passChange.new2" id="new-password2" name="new-password2"/>
          </div>
        </div>

        <button type="submit" (click)="changePassword()" class="btn btn-primary"
        *ngIf="!changingPassword" 
        [disabled]="passChange.old.length == 0 || passChange.new1.length == 0 || passChange.new2.length == 0">Change password</button>
        <button class="btn btn-primary" *ngIf="changingPassword" disabled>Changing password...</button>

      </form>

    </div>



  </div>
</div>



<div class="mb-4">

  <div class="header">
    <h2>My plugins</h2>
  </div>

  <div *ngIf="myPlugins == null">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="myPlugins != null && myPlugins.length == 0">

    <p><i>You haven't uploaded any plugins yet.</i></p>

  </div>

  <div *ngFor="let p of myPlugins" class="mb-4">

      <div class="mb-1">
        <a [routerLink]="['..', 'plugin', p.short_name]">
          {{ p.name }}
        </a>



      </div>
      <div class="plugin-item-line">

        <!-- The following code doesn't have white space because it does impact the page presentation -->

        <plugin-status [plugin]="p"></plugin-status><div class="tag" *ngFor="let c of p.tags">
          <i class="fa fa-tag"></i>
          <span>{{ c.short_name }}</span>
        </div><div class="tag" *ngIf="p.tags.length == 0"><i class="fa fa-tag"></i> <span><i>Untagged</i></span></div>

      </div>
  </div>

</div>
