<div *ngIf="currentStatus == Status.OK && plugins.length == 0">
    <p class="bare-message">No results <i class="fa fa-frown-o"></i></p>
</div>

<div *ngIf="currentStatus == Status.ERROR">
    <p class="bare-message">Error getting plugin list <i class="fa fa-frown-o"></i> <button (click)="fetchPlugins()" class="btn btn-primary">Try again</button> </p>
</div>

<div class="plugin-item panel panel-default" *ngFor="let p of plugins">
  <div class="panel-body">

    <div class="plugin-item-line">
      <i class="fa fa-{{ p.repo_type }}"></i>
      <b><a target="_blank" href="{{ p | buildRepoUrl }}">{{ p.name }}</a></b>

      <button class="btn btn-primary pull-right"><i class="fa fa-download"></i>
        Install
      </button>

    </div>

    <div class="plugin-item-line"><i *ngIf="p.home_page" class="fa fa-home"></i> <a class="home-page" target="_blank" href="{{ p.home_page }}">{{ p.home_page }}</a></div>

    <div class="plugin-item-line">
      <div class="tag" *ngFor="let c of p.categories"><i class="fa fa-tag"></i> <span>{{ c.short_name }}</span></div>
    </div>

    <div class="plugin-item-line" *ngIf="p.shortDescription" (click)="p.shortDescription = false">
      {{ p.description | shortenLongString:maxLengthDescription }}
      <a href="#">Read more</a>
    </div>
    <div class="plugin-item-line" *ngIf="!p.shortDescription">{{ p.description }}</div>
  </div>
</div>


<div *ngIf="currentStatus == Status.LOADING">
  <p class="bare-message"><i class="fa fa-spinner fa-spin"></i> Loading plugins...</p>
</div>


<button *ngIf="!noMorePlugins" class="btn btn-primary" (click)="fetchPlugins()">Load more</button>
