@import '../../../assets/global_variables.scss';


.home-page {
  font-size: $small-font;
}

.plugin-item-line {
  margin-bottom: $nice-bottom-margin;
}

.bare-message {
  margin: $nice-bottom-margin 0;
}
